body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffeefa;
    margin: 0;
    padding: 0;
  }
  
  .popup-container {
    background-color: #fff0f5;
    padding: 10px 10px 10px 10px; /* Padding adjusted for more space */
    border-radius: 12px;
    width: 380px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    text-align: center;
    color: #d6336c;
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    color: #444;
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
  }
  
  label {
    color: #444;
    font-weight: bold;
    font-size: 12px;
  }
  
  input[type="text"],
  select,
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
    height: 70px;
  }
  
  

  .rating span {
    font-size: 24px; /* Size of stars */
    cursor: pointer;
    color: #ccc; /* Default color for stars */
  }
  
  .rating span:hover,
  .rating span.selected {
    color: #ffc107; /* Color for selected stars */
  }
  
  button {
    background-color: #ff69b4;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;  /* Increased space between button and form elements */
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #ff85c1;
  }
  
  .tabcontent {
    display: none;
  }

  .tablinks.active {
    background-color: #ff85c1; /* optional, for feedback */
  }

  #Log {
    display: block;
  }
  